numpy
matplotlib
pandas
scikit-learn
keras
tensorflow
pydot
graphviz
pydot-ng
pillow
pydotplus
ipykernel
metpy
seaborn
Flask
flask_wtf
flask-csp
jsonschema
requests
flask_cors
flask_limiter
flask-talisman
pylint
python-dotenv